.modal-dialog {
    max-width: 95%;
}

.modal-dialog .modal-content {
    border-radius: 2px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
}

.modal-dialog .modal-content .modal-body img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 14px;
}

.modal-dialog .modal-content .modal-header {
    border: none;
}

.modal-dialog .modal-content .modal-header .btn {
    margin: 0 5px 0 0;
}

.modal-dialog .modal-content .modal-header .close {
    text-shadow: none;
    color: #FFF;
    opacity: 1;
}

.btn {
    border-radius: 0;
}
